[Services]
ServiceList=ExpressBackend,ReactFrontend,WindowsApp

[ExpressBackend]
type=Webserver
portRange=5800-5999
cmd=/c cd C:\Users\yiche\screentime\v2\express-server && npm run dev -- --port={SELF.port}

[ReactFrontend]
type=Webserver
portRange=3423-3999
cmd=/c cd C:\Users\yiche\screentime\v2\react-frontend && cross-env SERVER_PORT={SERVICE_DIR.ExpressBackend.port} CLIENT={SELF.port} npm run customStart

[WindowsApp]
type=Application
path=C:\Users\yiche\screentime\v2\DesktopApp\TrayApp\bin\x64\Release\TrayApp.exe
args={SERVICE_DIR.ExpressBackend.port}
